
.wlcback{
    margin-top: 30%;
    color: #0e162e;
    font-family: 'Montserrat', sans-serif;
}

.username_class{
    margin-top: 9%;
}

.password_class{
    margin-top: 3%;
}

.form-control{
    margin: 0%;
}

input[type=text]{
    overflow: hidden;
    margin-top: 2%;
    border-radius: 30px;
    text-shadow: none;
    box-shadow: none;
    background-color: #9FD6FD;
}

input[type=password]{
    border-radius: 30px;
    text-shadow: none;
    box-shadow: none;
    background-color: #9FD6FD;
}

textarea:required:focus,
input[type="text"]:required:focus,  
input[type="password"]:required:focus,

.uneditable-input:required:focus{
    background-color: rgb(160, 214, 253);
    border-color: rgba(160, 214, 253); /* green */
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */

   -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(160, 214, 253);
      -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(160, 214, 253);
           box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(160, 214, 253);
}

.form-floating>.form-control:focus~label{
    opacity: 0.4;
}
.form-floating>.form-control:not(:placeholder-shown)~label{
    /* background-color: #9FD6FD; */
    opacity: 0.4;
}
.form-floating>.form-select~label {
    opacity: 0.4;
}

