.crawaits{
    margin-top:16%;
    color: #0e1620;
    font-family: 'Montserrat', sans-serif;
}


.username1_class{
    margin-top: 3%;
}

input[type=text]{
    overflow: hidden;
    margin-top: 2%;
    border-radius: 25px;
    text-shadow: none;
    box-shadow: none;
    background-color: #9FD6FD;
}

input[type=password]{
    border-radius: 25px;
    text-shadow: none;
    box-shadow: none;
    background-color: #9FD6FD;
}

textarea:required:focus,
input[type="text"]:required:focus,  
input[type="password"]:required:focus,
input[type="email"]:required:focus,
uneditable-input:required:focus{
    background-color: rgb(160, 214, 253);
    border-color:#9FD6FD;
    outline: 0.5;
    outline: thin dotted \9;
    /* IE6-9 */

   -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 0 5px rgba(160, 214, 253);
      -moz-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 0 5px rgba(160, 214, 253);
           box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 0 5px rgba(160, 214, 253);
}

.form-floating>.form-control:focus~label{
    opacity: 0.4;
}
.form-floating>.form-control:not(:placeholder-shown)~label{
    opacity: 0.4;
}
.form-floating>.form-select~label {
    opacity: 0.4;
}

input[type=email]{
    border-radius: 25px;
    text-shadow: none;
    box-shadow: none;
    background-color: #9FD6FD;
}

.regbtn {
	background-color:#0e162e;
	border-radius:34px;
	border:2px solid #0e162e;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Montserrat', sans-serif;
	font-size:17px;
	padding:16px 76px;
	text-decoration:none;
    margin: 1% 0% 0% 0%;
}

@media(max-width:768px) {
    .regbtn{
        margin-bottom: 10%;
    }
}
.regbtn:hover {
	background-color:#212e58;
}
.regbtn:active {
	position:relative;
	top:1px;
}

.img4{
    margin-top: 10%;
}

#img4id{
    width: 80vmin;
    height: auto;
}


.notes{
    margin-top: 3%;
    margin-bottom: 7%;
    font-size: 0.7em;
    background-color: beige;
    margin-right: 2vmin;
}

/* @media (max-width:768px){
    .col-3{
        display: none;
    }
} */