

{% extends "pfapp/base.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block head %}
    {% include 'pfapp/messages.html' %}
{% endblock %}



{% block content %}
    {% if user.is_authenticated %}
        {{user.first_name}} is logged in.
    {% endif %}
    <a href="{% url 'pfapp:portfolio' user %}" target="_blank"> Build portfolio </a>
    <a href="{% url 'pfapp:logout' %}">logout</a>



    <form action="" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button name="submit" value="submit"> SUBMIT </button>
    </form>
    


    
{% endblock %}