

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard | Portflikr</title>
    <link href="{% static 'pfapp/css/dash.css' %}" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'pfapp/img/logo.png' %}" >
</head>
<body style="background-color:blue;">
    <div id="root"></div>


    <div id="loading">
        <img id="loading-image" src="{% static 'pfapp/img/spinner.svg'%}" alt="Loading..." />
    </div>
    
    <!-- Loading -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script> -->
    <script src="{% static 'pfapp/js/jquery-3.7.0.min.js' %}"></script>
    <script src="{% static 'pfapp/js/dashboard.js' %}"></script>
</body>
</html>
