{% load widget_tweaks %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard | Portflikr</title>
    <link href="{% static 'pfapp/css/dash.css' %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aleo:wght@400;700&family=Alice&family=Inter:wght@300&family=Montserrat:wght@700&family=Poppins:wght@300&display=swap" rel="stylesheet"> <link rel="shortcut icon" type="image/png" href="{% static 'pfapp/img/logo.png' %}" >
    <link rel="shortcut icon" type="image/png" href="{% static 'pfapp/img/logo.png' %}" >
    <link rel="icon" type="image/x-icon" href="{% static 'pfapp/img/logo.png' %}">
    
</head>
<body>
    
    <!-- Animation Container with structure 
            animation-container ->
        left                    right
    -->
    <div class="animation-container">
        <div class="left">
        </div>
        <div class="right">
        </div>
    </div>

    <!-- 
        Nav -> nav--logo
     -->
    <div class="Nav">
        <img id='nav--logo' src="{% static 'pfapp/img/logo.png' %} ">PortFlikr
    </div>

    <!-- 
        main
        heading                 tabs                            forms-first             forms-proj-(p.pk)       forms-proj-new   (copyforwork)    make
            Info                    tab--profile                    formhead                formhead                formhead
            btn--logout                 tab--header &logo           actualform              actualform              actualform
                                        li|tab--profile--1              hidden=-1               hidden=(p.pk)          hidden=new
                                    tab--projects                       fields                  fields                 fields
                                        tab--header &logo               btn--submit             btn--submit            btn--submit
                                        tab--projects--(p.pk)   
                                            a|p.pk
                                        tab--projects--new
                                            a|new
     -->
    <div class="main">
        <div class="heading">
            <div class="Info">
                Account Dashboard - {{user.first_name}} {{user.last_name}}
            </div>
            <a href="{% url 'pfapp:logout' %}" class="btn--logout">
                Log Out 
            </a>
        </div>
        <div class="tabs">
            <div class="tab--profile">
                <h4 class="tab--header"><img class='tab--logo' src="{% static 'pfapp/img/usericon-gray.png' %}"> Personal </h4>
                <ul>
                    <li id="tab--profile--1"><a class="-1" href="">Profile</a></li>
                </ul>
            </div>
            <div class="tab--projects">
                <h4 class="tab--header"><img class='tab--logo' src="{% static 'pfapp/img/project-gray.png' %}"> Projects </h4>
                <ul>
                    {% for p in projects %}
                        <li id="tab--projects-{{p.pk}}"><a class="{{p.pk}}">{{p.project_name}}</a></li>
                    {% endfor %}
                    <li id="tab--projects-new"><a class="new"></a></li>
                </ul>
            </div>
            <div class="tab--works">
                <h4 class="tab--header"><img class='tab--logo' src="{% static 'pfapp/img/work.png' %}">Work Experience</h4>
                <ul>
                    {% for w in works %}
                        <li id="tab--works-{{w.pk}}"><a class="{{w.pk}}">{{w.company}}</a></li>
                    {% endfor %}
                    <li id="tab--works-new"><a class="new"></a></li>
                </ul>
            </div>
        </div>




        <div class="forms-first">
            <div class="formhead">Profile Settings</div>
            <form class="actualform" method = "POST" action = "{% url 'pfapp:submit_profile'%}" novalidate enctype="multipart/form-data">
                {% csrf_token %}
                <!-- <input type="hidden" name="projectID" value="-1">
                <input type="hidden" name="workID" value="-1"> -->
                
                <div class="half">
                    First Name
                    {% render_field user_form.first_name placeholder=user.first_name value=user.first_name class="formfields" %}
                </div>
                <div class="half">
                    Last Name
                    {% render_field user_form.last_name placeholder=user.last_name value=user.last_name class="formfields" %}
                </div>
                <div class="full">
                    Username (If update fails try other usernames)
                    {% render_field user_form.username placeholder=user.username value=user.username class="formfields" %}
                </div>
                <div class="halfmod">
                    Profile Picture 1
                    {% render_field personal_form.img  class="img-upload" %}
                </div>
                <div class="halfmod">
                    About Me Picture 2
                    {% render_field personal_form.img1  class="img-upload" %}
                </div>
                <div class="full">
                    Email
                    {% render_field user_form.email placeholder=user.email  value=user.email class="formfields" %}
                </div>
                <div class="full">
                    Occupation
                    {% render_field personal_form.occupation placeholder=user.person.occupation value=user.person.occupation class="formfields" %}
                </div>
                <div class="full">
                    Github URL
                    {% render_field personal_form.github placeholder=user.person.github value=user.person.github class="formfields" %}
                </div>
                <div class="full">
                    Linkedin URL
                    {% render_field personal_form.linkedin placeholder=user.person.linkedin value=user.person.linkedin class="formfields" %}
                </div>
                <div class="full">
                    Skills (Comma Seperated)
                    {% render_field personal_form.skills placeholder=user.person.skills value=user.person.skills class="formfields" %}
                </div>
                <div class="full">
                    Hobbies (Comma Seperated)
                    {% render_field personal_form.hobbies placeholder=user.person.hobbies value=user.person.hobbies class="formfields" %}
                </div>
                <div class="full">
                    About Me (Around 30 characters or so)
                    {% render_field personal_form.desc placeholder=user.person.desc value=user.person.desc class="formfields desc" %}
                </div>
                <div class="submit-btn-enclosure">
                    <input type="submit" class="btn--submit" value="Update" />
                </div>
            </form>
        </div>

        {% for p in projects %}
        <div class="forms-proj-{{p.pk}}" >
            <div class="formhead">Project Settings - {{p.project_name}}</div>
            <form class="actualform" method = "POST" action = "{% url 'pfapp:submit_project'%}" novalidate>
                    {% csrf_token %}
                    <input type="hidden" name="projectID" value="{{p.pk}}">
                    <!-- <input type="hidden" name="workID" value="-1"> -->
                    <div class="full">
                        Project Name
                        {% render_field projects_form.project_name placeholder=p.project_name value=p.project_name class="formfields" %}
                    </div>
                    <div class="full">
                        Link to Project 
                        {% for message in messages %}
                        - {{message}}
                        {%endfor%}
                        {% render_field projects_form.url placeholder=p.url value=p.url class="formfields" %}
                        
                    </div>
                    <div class="full">
                        Description
                        {% render_field projects_form.desc placeholder=p.desc class="formfields desc" %}
                    </div>
                    <div class="submit-btn-enclosure">
                        <input type="submit" name="btn--delete" class="btn--delete" value="Delete" />
                        <input type="submit" class="btn--submit" value="Update" />
                    </div>
                </form>
            </div>
        {%endfor%}
        
        <div class="forms-proj-new">
            <div class="formhead">Project Settings</div>
                <form class="actualform" method = "POST" action = "{% url 'pfapp:submit_project'%}" novalidate>
                    {% csrf_token %}
                    <input type="hidden" name="projectID" value="new">
                    <!-- <input type="hidden" name="workID" value="-1"> -->
                    <div class="full">
                        Project Name
                        {% render_field projects_form.project_name placeholder=p.project_name class="formfields" %}
                    </div>
                    <div class="full">
                        Link to Project
                        {% for message in messages %}
                        - {{message}}
                        {%endfor%}
                        {% render_field projects_form.url placeholder=p.url class="formfields" %}
                    </div>
                    <div class="full">
                        Description
                        {% render_field projects_form.desc placeholder=p.desc class="formfields desc" %}
                    </div>
                    <div class="submit-btn-enclosure">
                        <input type="submit" class="btn--submit" value="Add" />
                    </div>
                    
                </form>
            </div>

        {% for w in works %}
        <div class="forms-works-{{w.pk}}" >
            <div class="formhead">Work Experience Settings - {{w.role}} at {{w.company}}</div>
            <form class="actualform" method = "POST" action = "{% url 'pfapp:submit_work'%}" novalidate>
                    {% csrf_token %}
                    <!-- <input type="hidden" name="projectID" value="-1"> -->
                    <input type="hidden" name="workID" value="{{w.pk}}">
                    <div class="full">
                        Role at Company
                        {% render_field work_form.role placeholder=w.role value=w.role class="formfields" %}
                    </div>
                    <div class="full">
                        Company Name 
                        {% render_field work_form.company placeholder=w.company value=w.company class="formfields" %}
                        
                    </div>
                    <div class="full">
                        Description
                        {% render_field work_form.desc placeholder=w.desc class="formfields desc" %}
                    </div>
                    <div class="submit-btn-enclosure">
                        <input type="submit" name="btn--delete" class="btn--delete" value="Delete" />
                        <input type="submit" class="btn--submit" value="Update" />
                    </div>
                </form>
            </div>
        {%endfor%}
        
        <div class="forms-works-new">
            <div class="formhead">Project Settings</div>
                <form class="actualform" method = "POST" action = "{% url 'pfapp:submit_work'%}" novalidate>
                    {% csrf_token %}
                    <!-- <input type="hidden" name="projectID" value="-1"> -->
                    <input type="hidden" name="workID" value="new">
                    <div class="full">
                        Role at Company
                        {% render_field work_form.role placeholder=w.role value=w.role class="formfields" %}
                    </div>
                    <div class="full">
                        Company Name 
                        {% render_field work_form.company placeholder=w.company value=w.company class="formfields" %}
                        
                    </div>
                    <div class="full">
                        Description
                        {% render_field work_form.desc placeholder=w.desc class="formfields desc" %}
                    </div>
                    <div class="submit-btn-enclosure">
                        <input type="submit" class="btn--submit" value="Update" />
                    </div>
                </form>
            </div>

        
        <div class="make">
            <form action="" method="post">
                {% csrf_token %}
                <p>Portfolio Style:</p>
                <div class="box">
                    <select name="portfolio-style" id="porfolio-style">
                        <option value="1" style="color:black">Basic</option>
                        <option value="X" style="color:gray">More Coming Soon</option>
                    </select>
                </div>
                <input type="submit" name="btn--create" class="btn--create" value="Create Portfolio" />
            </form>
        </div>
    </div>






    <!-- Loading -->
    <div id="loading">
        <img id="loading-image" src="{% static 'pfapp/img/spinner.svg'%}" alt="Loading..." />
    </div>

</body>
    <script src="{% static 'pfapp/js/jquery-3.7.0.min.js' %}"></script>
    <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="{% static 'pfapp/js/dashboard.js' %}"></script>
</html>

