{% extends "pfapp/base.html" %}

{% block messages %}
    
    {% if form.errors %}
        <div class="container-fluid p-0">
            <div class="alert alert-danger alert-dismissible" role="alert" style="margin: 0%;">
            Your username and password did not match.
            <button type="button" class="close btn btn-outline-secondary" data-bs-dismiss="alert" aria-label="Close" style="float:right; --bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                <span aria-hidden="True">X</span>
            </button>
            </div>
        </div>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <div class="container-fluid p-0">
                <div class="alert alert-info alert-dismissible" role="alert" style="margin: 0%;">
                    Please Login again.
                <button type="button" class="close btn btn-outline-secondary" data-bs-dismiss="alert" aria-label="Close" style="float:right; --bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                    <span aria-hidden="True">X</span>
                </button>
                </div>
            </div>
        {% else %}
            <div class="container-fluid p-0">
                <div class="alert alert-info alert-dismissible" role="alert"  style="margin: 0%;">
                    Please log in to proceed
                <button type="button" class="close btn btn-outline-secondary" data-bs-dismiss="alert" aria-label="Close" style=" float:right; --bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                    <span aria-hidden="True">X</span>
                </button>
                </div>
            </div>
        {% endif %}
    {% endif %}
    
{% endblock %}




{% block title %}
Login
{% endblock %}


{% block content %}
    <form method = "POST" action = "">
        {% csrf_token %}
        {{form}}
        <input type="submit" value="Login" />
    </form>
{% endblock %}