{% extends "pfapp/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block messages %}
    
    {% if form.errors %}
        <div class="container-fluid p-0">
            <div class="alert alert-danger alert-dismissible" role="alert" style="margin: 0%;">
            Your username and password did not match.
            <button type="button" class="close btn btn-outline-secondary" data-bs-dismiss="alert" aria-label="Close" style="float:right; --bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                <span aria-hidden="True">X</span>
            </button>
            </div>
        </div>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <div class="container-fluid p-0">
                <div class="alert alert-info alert-dismissible" role="alert" style="margin: 0%;">
                    Please Login again.
                <button type="button" class="close btn btn-outline-secondary" data-bs-dismiss="alert" aria-label="Close" style="float:right; --bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                    <span aria-hidden="True">X</span>
                </button>
                </div>
            </div>
        {% endif %}
    {% endif %}
    
{% endblock %}

{% block head %}
    <link href="{% static 'pfapp/login.css' %}" rel="stylesheet">
    
{% endblock %}


{% block title %}
Login
{% endblock %}



{% block leftside %}
    <div class="img2 container-fluid text-center">
        <img id="img2id" src="{% static 'pfapp/img2.png' %}">
    </div>
{% endblock %}


{% block rightside %}
    <p class="d-md-none d-md-block logo_title"><img src="{% static 'pfapp/logo.png' %}" height="40px" style="padding-bottom:1%;">PortFlikr</p> 


    <div class="display-6 wlcback containter-fluid text-center">
        Welcome Back
    </div>
        
        
        <form method = "POST" action = "">
            {% csrf_token %}
            <div class="username_class container-fluid">
                <div class="row">
                    <div class="col-3">
                    </div>
                    <div class="col-6">
                        <div class="form-floating mb-3">
                            {{ form.username | add_class:'form-control'|attr:"placeholder:User"}}
                            <label for="id_username">&nbsp;<img style="height:1.8cqh;" src="{% static 'pfapp/usericon.png' %}" >&nbsp; Username</label>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="password_class container-fluid">
                <div class="row">
                    <div class="col-3">
                    </div>
                    <div class="col-6">
                        <div class="form-floating mb-3">
                            {{ form.password | add_class:'form-control'|attr:"placeholder:Pass"}}
                            <label class="floatlabel" for="id_password">&nbsp;<img style="height:2cqh; padding-bottom:3%" src="{% static 'pfapp/pswdicon.png' %}" >&nbsp;Password</label>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="remandforgot container-fluid">
                <div class="row">
                    <div class="col-3">
                    </div>
                    <div class="col-3">
                        <div class="form-check" style="padding: 0%;margin:0%;">
                            {{form.remember_me| add_class:'check-class'}}
                            <label class="form-check-label" for="remember_me">
                                Remember Me
                            </label>
                        </div>
                    </div>
                    <div class="col-3" style="margin-left: 3%;margin-top:0.4cqmin">
                        <a href="#" style="text-decoration: none; color:#0e162e;  ">Forgot Password?</a>
                    </div>
                </div>
            </div>
            <div class="text-center container-fluid">
                <input type="submit" class="loginbtn" value="Login" />
            </div>
          </form>
{% endblock %}

