{% extends "pfapp/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block head %}
    <link href="{% static 'pfapp/css/reg.css' %}" rel="stylesheet">
{% endblock %}




{% block title %}
Register
{% endblock %}


{% block leftside %}
    <div class="img4 container-fluid text-center">
        <img id="img4id" src="{% static 'pfapp/img/img4.png' %}">
    </div>
{% endblock %}



{% block rightside %}
    <p class="d-md-none d-md-block logo_title"><img src="{% static 'pfapp/img/logo.png' %}" height="40px" style="padding-bottom:1%;">PortFlikr</p> 


    <div class="display-6 crawaits containter-fluid text-center">
        Creativity Awaits!
    </div>

    <form method = "POST" action = "">
        {% csrf_token %}
        <div class="username1_class container-fluid">
            <div class="Name row">
                <div class="col-md-3 col-2">
                </div>
                <div class="col-md-3  col-8">
                    <div class="form-floating mb-3">
                        {{ register_form.first_name | add_class:'form-control'|attr:"placeholder:User"}}
                        <label for="id_username">&nbsp;<img style="height:1.8cqh;" src="{% static 'pfapp/img/usericon.png' %}" >&nbsp; First Name</label>
                    </div>
                </div>

                <div class="d-md-none col-2 ">
                    <!-- empty -->
                </div>
                <div class="d-md-none  col-2">
                    <!-- empty -->
                </div>

                <div class="ps-md-0 col-md-3  col-8 ">
                    <div class="form-floating mb-3">
                        {{ register_form.last_name | add_class:'form-control'|attr:"placeholder:User"}}
                        <label for="id_username">&nbsp;<img style="height:1.8cqh;" src="{% static 'pfapp/img/usericon.png' %}" >&nbsp; Last Name</label>
                    </div>
                </div>
            </div>
        </div>


        <div class="username_class container-fluid">
            <div class="row">
                <div class="col-md-3 col-2">
                    <!-- empty -->
                </div>
                <div class="col-md-6  col-8">
                    <div class="form-floating mb-3">
                        {{ register_form.username | add_class:'form-control'|attr:"placeholder:User"|remove_attr:"autofocus" }}
                        <label for="id_username">&nbsp;<img style="height:1.8cqh;" src="{% static 'pfapp/img/usericon.png' %}" >&nbsp;Username</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="username_class container-fluid">
            <div class="row">
                <div class="col-md-3 col-2">
                    <!-- empty -->
                </div>
                <div class="col-md-6  col-8">
                    <div class="form-floating mb-3">
                        {{ register_form.email | add_class:'form-control'|attr:"placeholder:User"}}
                        <label for="id_username">&nbsp;<img style="height:1.8cqh;" src="{% static 'pfapp/img/usericon.png' %}" >&nbsp;Email</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="password_class container-fluid">
            <div class="row">
                <div class="col-md-3 col-2">
                    <!-- empty -->
                </div>
                <div class="col-md-6  col-8">
                    <div class="form-floating mb-3">
                        {{ register_form.password1 | add_class:'form-control'|attr:"placeholder:Pass"}}
                        <label class="floatlabel" for="id_password">&nbsp;<img style="height:2cqh; padding-bottom:3%" src="{% static 'pfapp/img/pswdicon.png' %}" >&nbsp;Password</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="password_class container-fluid">
            <div class="row">
                <div class="col-md-3 col-2">
                    <!-- empty -->
                </div>
                <div class="col-md-6  col-8">
                    <div class="form-floating mb-3">
                        {{ register_form.password2 | add_class:'form-control'|attr:"placeholder:Pass"}}
                        <label class="floatlabel" for="id_password">&nbsp;<img style="height:2cqh; padding-bottom:3%" src="{% static 'pfapp/img/pswdicon.png' %}" >&nbsp;Re-Enter Password</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center container-fluid">
            <input type="submit" class="regbtn" value="Register" />
        </div>
    </form>
    {%if note%}
    <div class="notes">
        <span>
        <b>&emsp;NOTE: </b>
        <ul style="list-style-type:none">
            <li>Your password can't be too similar to your other personal information.</li>
            <li>Your password must contain at least 8 characters.</li>
            <li>Your password can't be a commonly used password.</li>
            <li>Your password can't be entirely numeric.</li>
        </ul>
        </span>
    </div>

    {%endif%}
      <!-- {{register_form}} -->
{%endblock%}


{% for m in messages%}
{{m}}
{%endfor%}